/* pagina mural */
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

* {
    font-family: 'Glacial Indifference', sans-serif;
    /* display: flex;
    flex-direction: column; */
    
}

body {
    margin: 0;
    background-color: aliceblue;

}

.container {
    width: 90%;
    margin: auto;
    display: flex;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #4C91D4;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    font-size: 25px;
}

.header .container {
    justify-content: space-between;
    /* font-size: 25px; */
    align-items: center;
}

.inicio img {
    height: 100px;
}

.inicio {
    display: flex;
    height: 100px;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.titulo {
    display: flex;
    /* font-size: 25px; */
    width: 70px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    /* font-size: 26px; */
}

li {
    margin-left: 10px;
}

/* Fim do Cabeçalho */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
.janela{
  display: flex;
  flex-direction: column;
  height: 500px;
}
.container01{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  width: 100%;
  display: flex;
  justify-content: center;
}
.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* .container01 .div-form #form_postagem {
  width: 100%;
} */
#form_postagem{
  width: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

input {
  width: 40%;
  font-size: 20px;
  height: 25px;
  border-radius: 5px;
}

.div-form textarea {
  width: 100%;
  height: 300px;
  /* color: #E6005A; */
  border: 5px solid #34538D;
  background-color: white;
  border-radius: 5px;
  font-size: 15px;
}

.div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  border-radius: 30px;
  background-color: #34538D;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}
